@import "template.css";

a.mod-rxaffiliate-category-item {
    padding: .5em;
    border: 1px solid #444;
    border-radius: .5em;
    display: inline-block;
    margin: 0.2em;
}
a.mod-rxaffiliate-category-item.active {
    background-color: #555;
    color: white;
    background: linear-gradient(to top, #444, #555);
}
#mod-rxaffiliate-bestsellers {
    clear: both;
}
.mod-rxaffiliate-bestsellers-icon-title,
.mod-rxaffiliate-product-thumbnail {
    display: inline-block;
    border: 2px solid #777;
    background-color: white;
    height: 210px;
    vertical-align: middle;
    position: relative;
    text-align: center;
    width: 210px;
    padding: 0;
    border-radius: .5em;
    margin: .5em;
}
.mod-rxaffiliate-bestsellers-icon-title {
    background-color: #e8b426 !important;
    position: relative;
}
.mod-rxaffiliate-bestsellers-icon-title img,
.mod-rxaffiliate-product-thumbnail img {
    margin-bottom: 0;
    margin-top: 25px;
}
a.mod-rxaffiliate-product-thumbnail-name {
    display: block;
    background-color: #555;
    padding: .5em;
    font-size: 16px;
    position: relative;
    color: white;
}
.mod-rxaffiliate-bestsellers-icon-title {
    position: relative;
    top: 50%;
}
.mod-rxaffiliate-product-thumbnail-tooltip {
    height: 100%;
    position: absolute;
    width: 0;
    background-color: rgba(100, 100, 100, 0.9);
    overflow: hidden;
    -o-transition: width .3s ease 0s;
    -moz-transition: width .3s ease 0s;
    -webkit-transition: width .3s ease 0s;
    -ms-transition: width .3s ease 0s;
    transition: width .3s ease 0s;
    top: 0;
}
.mod-rxaffiliate-product-thumbnail-add-to-cart {
    display: block;
    margin: .5em auto 0;
    padding: 0.3em;
    width: 70%;

}
.mod-rxaffiliate-product-thumbnail-tooltip-labels {
    bottom: 24px;
    position: absolute;
    width: 100%;
    color: white;

}
.mod-rxaffiliate-product-thumbnail:hover .mod-rxaffiliate-product-thumbnail-tooltip {
    width: 100%;
}
.mod-rxaffiliate-live-help {
    cursor: pointer;
}

.mod-rxaffiliate-flag-au { background-image: url("../images/flag/135px-Flag_of_Australia_converted.png"); }
.mod-rxaffiliate-flag-fr { background-image: url("../images/flag/135px-Flag_of_France.png"); }
.mod-rxaffiliate-flag-it { background-image: url("../images/flag/135px-Flag_of_Italy.png"); }
.mod-rxaffiliate-flag-es { background-image: url("../images/flag/135px-Flag_of_Spain.png"); }
.mod-rxaffiliate-flag-uk { background-image: url("../images/flag/135px-Flag_of_the_United_Kingdom.png"); }
.mod-rxaffiliate-flag-us { background-image: url("../images/flag/135px-Flag_of_the_United_States.png"); }
.mod-rxaffiliate-flag-be { background-image: url("../images/flag/135px-Flag_of_Belgium.png"); }

.mod-rxaffiliate-flag-au, .mod-rxaffiliate-flag-fr, .mod-rxaffiliate-flag-it,
.mod-rxaffiliate-flag-es, .mod-rxaffiliate-flag-uk, .mod-rxaffiliate-flag-us,
.mod-rxaffiliate-flag-be {
    height: 1em;
    background-size: contain;
    background-position: left center;
    padding-left: 3em;
    background-repeat: no-repeat;
}
