@import "template.css";
table.rxaffiliate-subcategories {

}

table.rxaffiliate-subcategories td {
  padding: .5em;
}

.rxaffiliate-subcategories{
    text-align: justify;
}

table.rxaffiliate-products {
    width: 100%;
    border-collapse: collapse;
}

/* Product table */
table.rxaffiliate-products td,
table.rxaffiliate-products th {
    text-align: center;
    padding: .5em;
}
table.rxaffiliate-products td {
    border-bottom: 1px solid #333;
}
table.rxaffiliate-products th {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    background: #AAA; /* Для старых браузров */
    background: linear-gradient(to top, #AAA, #999);
}
table.rxaffiliate-products th:first-of-type,
table.rxaffiliate-products td:first-of-type{
/**    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px; */
    border-left: 1px solid #333;
}
table.rxaffiliate-products th:last-of-type,
table.rxaffiliate-products td:last-of-type{
    /**    -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px; */
    border-right: 1px solid #333;
}
table.rxaffiliate-products tbody tr:nth-child(2n+1){
    background-color: #f8f8f8;
}
table.rxaffiliate-products tbody tr:hover {
    background-color: #eee;
}
/* ===================== */
/* subcategory */
div.rxaffiliate-subcategory {
    background-color: #eaeaea;
    border-radius: .5em;
    margin-top: 1em;
    padding: 1em;
}
table.rxaffiliate-products input[name=quantity] {
    width: 4em;
    padding: .5em;
}
table.rxaffiliate-products form {
    display: inline;
}
table.rxaffiliate-products input[name="quantity"] {
    margin: 0;
    vertical-align: middle;
    width: 3em;

}
ul.rxaffiliate-cart-total{
    margin: 1em;
}
ul.rxaffiliate-cart-total li{
    text-align: right;
    padding: .2em;
    list-style-type: none;
    list-style-image: none;
}
/* =========== */
/* product page */
div.rxaffiliate-product {
}
div.rxaffiliate-product img.rxaffiliate-product {
    float: left;
    margin: 1em 3em;
}
table.rxaffiliate-product {
    width: auto;
}
div.rxaffiliate-product-info {
    clear: both;
}
table.rxaffiliate-product th, table.rxaffiliate-product td {
    padding: .5em 1em;
    text-align: center;
}
/* ============ */